#### Import NumPy

In [ ]:
import  numpy as np

#### Create an array of 10 zeros

In [ ]:
temp=np.zeros(10)
temp

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

#### Create an array of 10 ones

In [ ]:
temp=np.ones(10)
temp

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

#### Create an array of 10 fives

In [ ]:
temp=np.ones(10)*5
temp

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

#### Create an array of the integers from 10 to 50 -!del!-

In [ ]:
temp=np.array([i for i in range(10,51)])
temp

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

#### Create an array of all the even integers from 10 to 50  -!del!-

In [ ]:
temp=np.array([i for i in range(10,51,2)])
temp

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

#### Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
temp=np.array([[0,1,2],[3,4,5],[6,7,8]])
temp

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

#### Create a 3x3 identity matrix

In [ ]:
temp=np.identity(3)
temp

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

#### Use NumPy to generate a random number between 0 and 1  -!del!-

In [ ]:
temp=np.random.rand(1,1)
temp

array([[0.9260937]])

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [ ]:
temp=np.random.rand(1,25)
temp

array([[0.61583587, 0.85462923, 0.15990536, 0.52439489, 0.52653222,
        0.63548628, 0.55453985, 0.80677659, 0.39839154, 0.92812146,
        0.71512393, 0.38021497, 0.65167846, 0.20662191, 0.5163509 ,
        0.8482743 , 0.08990516, 0.87694006, 0.79002782, 0.13344374,
        0.5693953 , 0.25310739, 0.53414356, 0.51957405, 0.72214104]])

#### Create the following matrix: -!del!-

In [ ]:
temp=np.arange(0.01,1.01,0.01)#gives 1d array
temp=temp.reshape(10,10)#gives 10x10 array
temp

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

#### Create an array of 20 linearly spaced points between 0 and 1:

In [ ]:
temp=np.linspace(0,1,20)
temp=temp.reshape(5,4)
temp

array([[0.        , 0.05263158, 0.10526316, 0.15789474],
       [0.21052632, 0.26315789, 0.31578947, 0.36842105],
       [0.42105263, 0.47368421, 0.52631579, 0.57894737],
       [0.63157895, 0.68421053, 0.73684211, 0.78947368],
       [0.84210526, 0.89473684, 0.94736842, 1.        ]])

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

In [ ]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [ ]:
temp = np.arange(12,24).reshape(3,4)
temp

array([[12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

20

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [ ]:
temp_1=np.array([[1,0,0],[0,1,0],[0,0,1]])
temp_2=np.array([[2],[7],[12]])
temp=np.dot(temp_1,temp_2)
temp

array([[ 2],
       [ 7],
       [12]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [ ]:
temp_1=np.array([[21,22,23,24,25]])
temp_2=np.array([[1,0,0,0,0],[0,1,0,0,0],[0,0,1,0,0],[0,0,0,1,0],[0,0,0,0,1]])
temp=np.dot(temp_1,temp_2)
temp

array([[21, 22, 23, 24, 25]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [ ]:
matrix_2x5 = np.array([[1, 2, 3, 4, 5],
                       [2, 3, 4, 5, 6]])
column_vector = np.array([4, 5, 6, 7, 8])
result_matrix = np.outer(matrix_2x5[0], column_vector) + np.outer(matrix_2x5[1], column_vector)
print(result_matrix)

[[12 15 18 21 24]
 [20 25 30 35 40]
 [28 35 42 49 56]
 [36 45 54 63 72]
 [44 55 66 77 88]]

### Now do the following

#### Get the sum of all the values in mat

In [ ]:
temp=np.array([[300,0,0],[0,20,0],[0,0,5]])
sums=np.sum(temp)
sums

325

#### Get the standard deviation of the values in mat

In [ ]:
temp=np.array([[300,0,0],[0,20,0],[0,0,5]])
STD=np.std(temp)
STD

93.50513288875221

#### Get the sum of all the columns in mat

In [43]:
temp=np.array([[50,50,50,50,50],
               [4,5,5,5,5],
               [1,5,5,5,5,],
               [0,0,5,5,5],
               [0,0,0,5,5],
               [0,0,0,0,5]
               ])
sums=np.sum(temp,axis=0)
sums

array([55, 60, 65, 70, 75])

#### Multiply two matrices using NumPy.

A = [[1, 2], [2, 3]]

B = [[4, 5], [6, 7]]

So, A.B = [[1*4 + 2*6, 2*4 + 3*6], [1*5 + 2*7, 2*5 + 3*7]

The computed answer will be: [[16, 26], [19, 31]]

In [39]:
temp_1= np.array([[1, 2], [2, 3]])
temp_2= np.array([[4, 5], [6,7]])
result = np.dot(temp_1, temp_2)
print(result)

[[16 19]
 [26 31]]

####Replace NaN values with average of that column

Initial array :  

[[ 1.3  2.5  3.6  nan]
 [ 2.6  3.3  nan  5.5]
 [ 2.1  3.2  5.4  6.5]]

In [41]:
temp=np.array([[1.3,2.5,3.6,np.nan],[2.6,3.3,np.nan,5,5],[2.1,3.2,5.4,6.5]])
column_means = np.nanmean(temp, axis=0)#Taking Column wise mean
nan_indices = np.isnan(temp)#Finding nan values
column_means

<ipython-input-41-a69b09dc3eec>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  temp=np.array([[1.3,2.5,3.6,np.nan],[2.6,3.3,np.nan,5,5],[2.1,3.2,5.4,6.5]])

TypeError: ignored

# You're done!